<div
  class="pointer-events-none absolute inset-x-0 top-0 -z-10 h-[44rem] overflow-hidden"
  aria-hidden="true"
>
  <div
    class="absolute -top-64 -left-48 size-[38rem] rounded-full bg-primary/5 blur-[110px]"
  >
  </div>
  <div
    class="absolute -top-52 -right-44 size-[34rem] rounded-full bg-secondary/35 blur-[120px]"
  >
  </div>
</div>
